*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{ overflow-x: hidden;}


.form-control:focus {
  border-color: #7a0661;
  box-shadow: none;
}
/* Full fill circle */
.circle-fill {
  fill: plum;
  opacity: 0;           
}

/* Stroke animation */
.circle-stroke {
  fill: none;
  stroke: plum;
  stroke-width: 1;
  stroke-dasharray: 1560;
  stroke-dashoffset: 1560;
}

/* /// circle1 /// */
.circle1{
  fill: red;
  transform: scale(0);
}

 .circle5 {
  display: block;
  margin-left: auto;
  fill: orange;
}

.move{opacity: 1;}

svg {
  max-width: 100%;
}
.circle-wrapper {
  position: relative;
  width: 100%;
  min-height: 500px;
}

.circle {
  overflow: visible;
  position: absolute;
  right: 20%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

/* Images */
.shop-img {
  position: absolute;
  width: 35vw;        
  max-width: 480px;     
  right: -2%;
  top: 68%;
  transform: translateY(-50%);
  z-index: 2;
}

.gift-img {
  position: absolute;
  width: 20vw;         
  max-width: 270px;     
  right: 46%;
  top: 39%;
  z-index: 3;
}


/* ////// page3 start */

.page3 {
  position: relative;
  height: 700px;
}

/*  page3 Background Circle */
.page3-circle {
  width: 450px;
  height: 450px;
  background: plum;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* /// page3 Card  /// */
.common {
  position: absolute;
  box-shadow: 0 20px 40px rgba(0,0,0,0.12);
}

.common img {
  width: 50px;
  height: 50px;
  
}

.card-1 { top: 32%; left: 22%; }
.card-2 { top: 18%; right: 28%; }
.card-3 { bottom: 10%; left: 44%; }

/* ///// page3 end /// */

a:hover{
  text-decoration: underline !important;
  color: purple !important;
}

/* Tablet */
@media (max-width: 992px) {
    .shop-img {
    width: 32vw;
    right: 0%;
    transform: translateX(50%) translateY(-50%);
  }

  .gift-img {
    width: 18vw;
    right: 46%;
    transform: translateX(50%) translateY(-50%);
  }

  .page3 {
    height: auto;
    padding-bottom: 3rem;
  }

  .page3-circle {
    width: 320px;
    height: 320px;
  }

  .common {
    position: static;           
    margin: 2rem auto;          
  }
}

/* Mobile */
@media (max-width: 768px) {
    .shop-img {
    width: 60vw;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
  }

  .gift-img {
    width: 45vw;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
  }

  .common {
    width: 90% !important;
    max-width: 350px;
  }
}

/* Small mobile */
@media (max-width: 480px) {
  .shop-img {
    width: 80vw;
  }

  .gift-img {
    width: 60vw;
  }


  .common img {
    width: 45px;
    height: 45px;
  }
}